@{
    ViewData["Title"] = "Home Page";
}
sds 

        <div class="column is-8">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            lllkl
        </div>
        <div class="column">
            <h1 class="display-4">Welcome2</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
   
