@model ProjetoEureka.Models.Noticia
@{

    var categorias = new  List<Categoria>();

    categorias =  ViewBag.noticias;
}

<h3>Cadastrar notícias</h3>
@using (Html.BeginForm("CadastrarNoticia","Noticia", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-1">
            <label>Título: </label>
        </div>
        <div class="col-sm-2">
            @Html.TextBoxFor(Model=>Model.Titulo , new {@class="form-control"})
        </div>
    </div>
        <div class="row">
        <div class="col-sm-1">
            <label>Categoria: </label>
        </div>
        <div class="col-sm-2">
            <select class="form-control" name="selectcategoria">
            @foreach (var item in categorias)
            {
                    <option value=@item.Cat_Id>@item.Nome</option>
            }
            </select>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-1">
            <label>Meta-Key</label>
        </div>
        <div class="col-sm-4">
            @Html.TextAreaFor(Model=>Model.Meta_Key, new { rows = 4 , cols = 3 ,  @class = "form-control"} )

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1">
            <label>Descrição</label>
        </div>
        <div class="col-sm-4">
            @Html.TextAreaFor(Model=>Model.Descricao, new { rows = 10 , cols = 40 ,  @class = "form-control"} )

        </div>
    </div>

    <button type="submit" class="btn btn-success" onclick="enviar()">Salvar </button>
}

<script>

function enviar(){

var select =  idcategoria = $('#selectcategoria').val();
var idcategoria =  $('#Id_Categoria').val();
idcategoria = 20;

}
</script>
